<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Books" asp-action="Index">Książki</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Borrowings" asp-action="Index">Historia</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="ActivityLogs" asp-action="Index">Logi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Books" asp-action="Create">Wiadomości</a>
        </li>
        <li class="nav-item ms-sm-auto">
            <a class="nav-link text-light btn btn-sm btn-primary" id="login" asp-area="Identity" asp-page="/Account/Logout">Wyloguj</a>
        </li>
    </ul>
</div>
