<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Client" asp-controller="Borrowings" asp-action="Index">Wypożyczenia</a>
        </li>
        <li class="nav-item ms-sm-auto">
            <a class="nav-link text-light btn btn-sm btn-primary" id="login" asp-area="Identity" asp-page="/Account/Logout">Wyloguj</a>
        </li>
    </ul>
</div>
