html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image:url(/img//alex-block-PdDBTrkGYLo-unsplash.jpg);
  background-position:center;
  background-size:contain;
}
.footer{
    background-color:white;
    text-align:center;
}
.h1{
    color:whitesmoke;
}