html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --primary-color: #732002;
    --alt-color: #400D01;
    --secondary-color: #120DA6;
    --default-white: #FBFBFF;
}

html {
    
    min-height: 100%;
   
}

main > section {
    padding: 2.5rem 15%;
}

.footer {
    background-color: white;
    text-align: center;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #ffffff !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

.btn-primary:hover {
    background-color: var(--alt-color);
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    background-color: var(--default-white);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.btn-outline-primary:hover {
    color: #fff !important;
    background-color: var(--alt-color);
    border-color: transparent;
}

.link-primary {
    color: var(--primary-color);
    text-decoration: underline;
}

.link-primary:hover {
    color: inherit;
    text-decoration: none;
}
