.borrowings-list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.borrowing {
    display: grid;
    grid-template-columns: .9fr .5fr .5fr 1fr;
    align-items: center;
    gap: 8rem;
    padding: 1rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--default-shadow);
}

.borrowing p {
    margin: 0;
}

.borrowing p:not(:nth-child(2)) {
    font-weight: 700;
}