@model IEnumerable<BibTrans.Models.Books>

@{
    ViewData["Title"] = "Książki";
}

<link rel="stylesheet" href="~/css/Views/Home/Books.css" asp-append-version="true" />

<section class="books-section">
    <h1 class="display-6 m-0">Lista książek</h1>
    <div class="books-list">
        @foreach (var item in Model)
        {
            <a class="book panel-bg" asp-action="Details" asp-controller="Home" asp-route-id="@Html.ValueFor(modeIltem => item.Id)">
                <div class="image-wrapper">
                    <img src="~/img/cover.webp" alt="Okładka" />
                </div>
                <div class="book-description">
                    <h2>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h2>
                    <p>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </p>
                </div>
            </a>
        }
    </div>
</section>
