@{
    ViewData["Title"] = "Strona główna";
}

<link rel="stylesheet" href="~/css/Views/Home/Index.css" asp-append-version="true" />

<header class="d-flex align-items-center justify-content-center">
    <div class="background-overlay"></div>
    <div class="background"></div>
    <div class="text-center align-content-md-center">
        <h1 class="display-4">Witaj na BibTrans</h1>
        <p>Strona do zarządzania systemem biblioteki.</p>
    </div>
</header>
<section class="functionalities">
    <div class="top">
        <h2 class="display-6 m-0">Funkcjonalności</h2>
        <p class="m-0">
            BibTrans oferuje szereg nowoczesnych funkcji, które ułatwiają
            codzienną pracę bibliotekarzy i podnoszą jakość obsługi użytkowników.
            Nasze najważniejsze funkcje to:
        </p>
    </div>
    <div class="bottom">
        <ul class="functionalities-list">
            <li class="active">Szybkie wybieranie zasobów</li>
            <li>Automatyczne powiadomienia o zwrotach</li>
            <li>Rezerwacja książek online</li>
            <li>Raporty i statystyki</li>
        </ul>
        <div class="functionality-description">
            <div class="functionality-keywords">
                <div class="keyword">Szybki dostęp</div>
                <div class="keyword">Precyzyjne wyniki</div>
                <div class="keyword">Łatwa rezerwacja</div>
            </div>
            <p>
                Funkcja szybkiego wyszukiwania zasobów umożliwia na 
                sprawne przeglądanie dostępnych książek oferowanych przez 
                bibliotekę. Dzięki filtrowaniu i sortowaniu użytkownicy 
                mogą łatwo odnaleźć interesujące ich pozycje.
            </p>
        </div>
    </div>
</section>
<section class="scalability">
    <div class="top">
        <h2 class="display-6 m-0">Dla kogo?</h2>
        <p class="m-0">
            Niezależnie od tego, czy zarządzasz małą lokalną biblioteką, 
            czy dużą instytucją akademicką, BibTrans dostosowuje się do 
            Twoich potrzeb. Nasz system jest elastyczny i skalowalny, co 
            pozwala na jego wykorzystanie w różnych typach bibliotek.
        </p>
    </div>
    <div class="scalability-cards">
        <div class="scalability-card">
            Mała biblioteka
        </div>
        <div class="scalability-card">
            Biblioteka publiczna
        </div>
        <div class="scalability-card">
            Biblioteka akademicka
        </div>
    </div>
</section>