@{
    ViewData["Title"] = "Home Page";
}

<div class="background"></div>
<div class="text-center align-content-md-center">
    <h1 class="display-4">Witaj na BibTrans</h1>
    <p>Strona do zarządzania systemem biblioteki.</p>
</div>
