@model BibTrans.Models.Books

<div class="modal" tabindex="-1 ">
    <div class="modal-backdrop"></div>
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Usuwanie</h1>
            </div>
            <div class="modal-body">
                <p>Czy na pewno chcesz usunąć tę książkę? @Html.ValueFor(model => model.Id)</p>
            </div>
            <div class="modal-footer">
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Html.ValueFor(model => model.Id)">Usuń</a>
                <a asp-action="Index" class="btn btn-outline-primary">Anuluj</a>
            </div>
        </div>
    </div>
</div>